<div class="contenedor-padre2">
    <div class="contenedor-agregar">
        <div class="contenedor-titulo">
            <h1 class="titulo-gasto">Añadir gasto</h1>
            <button class="boton-cerrar">X</button>
        </div>
        <div class="contenedor-precio">
            <div class= "contenedor-titulo-precio">
                <h1 class="titulo-valor">valor</h1>
                <h1 class="titulo-precio">$ 0,00</h1>
            </div>
        </div>
        <div class="contenedor-precio2">
            <div class="informacion-precio">
                <h1>vencimiento</h1>
                <input type="date">
            </div>
            <div  class="informacion-precio">
                <h1>categoria</h1>
                <select name="fecha" id="fecha">
                    <option value="" selected>Otros</option>
                    <option value="hola"> 🍔 Comida</option>
                    <option value="hola">🚗 Transporte</option>
                </select>
            </div>
        </div>
        <div class="contenedor-info">
            <h1 class="titulo-info">Mas informacion</h1>
            <input class="input-precio" type="text" value="nombre del gasto">
            <textarea id="w3review" name="w3review" rows="4" cols="50" placeholder="Descripcion del gasto"></textarea>
        </div>
        <div class="contenedor-botones-final">
            <button class="botones-cancelar">cancelar</button>
            <button class="botones-añadir-gasto">añadir gasto</button>
        </div>
    </div>

</div>