{% extends "layouts/base.html" %}

{% block tittle %}Actualizar{% endblock  %}

{% block content %}

<script>
        document.addEventListener("DOMContentLoaded", function() {
        document.getElementById("cerrar").addEventListener("click", function() {
            let agregarFragment = document.getElementById("agregarFragment");
            if (agregarFragment.style.display === "flex") {
                agregarFragment.style.display = "none";
            }
        });

        document.addEventListener("DOMContentLoaded", function() {
            document.getElementById("cerrar2").addEventListener("click", function() {
                // Redireccionar al home
                window.location.href = "{% url 'barra' %}";
            });
        });
        
        document.getElementById("form-insert").addEventListener("submit", function(event) {
            event.preventDefault(); // Evitar el envío automático del formulario

            // Obtener el valor del campo de fecha
            let fechaInput = document.getElementById("fecha").value;

            // Verificar si la fecha está en un formato válido (yyyy-mm-dd)
            let regex = /^\d{4}-\d{2}-\d{2}$/;
            if (!regex.test(fechaInput)) {
                
                return; // Salir de la función si el formato de fecha no es válido
            }

            // Formatear la fecha en el formato esperado por Django (yyyy-mm-dd)
            let fechaFormateada = fechaInput;

            // Asignar el valor formateado al campo de fecha
            document.getElementById("fecha").value = fechaFormateada;

            // Enviar el formulario
            this.submit();
        });
    });
  </script>

    <div class="container">
        <div class="update-form">
            <h1 class="form-title">Actualizar gasto</h1>
            <form action="{% url 'update' %}" method="post" id="form-insert">
                {% csrf_token %}
                <div class="form-group">
                    <label for="valor" class="form-label">Valor</label>
                    <input class="form-control" type="number" min="0" step="0.01" value="{{detalle_gasto.0.valor}}" name="valor" id="valor">
                    <input type="hidden" name="id" value="{{detalle_gasto.0.id}}">
                </div>
                <div class="form-group">
                    <label for="fecha" class="form-label">Fecha</label>
                    <input type="date" name="fecha" id="fecha" value="{{detalle_gasto.0.fecha}}" class="form-control">
                </div>
                <div class="form-group">
                    <label for="categoria" class="form-label">Categoría</label>
                    <select name="categoria" id="categoria" class="form-control">
                        <option value="{{detalle_gasto.0.categoria}}" selected>{{detalle_gasto.0.categoria}}</option>
                        <option value="Otros">Otros</option>
                        <option value="Comida">🍔 Comida</option>
                        <option value="Transporte">🚗 Transporte</option>
                        <option value="Pasatiempo">🎭 Pasatiempo</option>
                        <option value="Casa">🏠 Casa</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="nombre" class="form-label">Nombre</label>
                    <input class="form-control" type="text" name="nombre" id="nombre" value="{{detalle_gasto.0.nombre}}">
                </div>
                <div class="form-group">
                    <label for="descripcion" class="form-label">Descripción</label>
                    <textarea class="form-control" id="descripcion" rows="4" cols="50" name="descripcion">{{detalle_gasto.0.descripcion}}</textarea>
                </div>
                <div class="form-group">
                    <button class="cancel-btn" id="cerrar2">Cancelar</button>
                    <input type="submit" class="submit-btn" value="Actualizar gasto">
                </div>
            </form>
        </div>
    </div>
{% endblock content %}

