

{% extends "layouts/base.html" %}

{% block tittle %}Home{% endblock  %}

{% block content %}

{% include "fragments/agregar.html" %}

<script>
  document.addEventListener("DOMContentLoaded", function() {
      document.getElementById("toggleBtnGasto").addEventListener("click", function() {
          let agregarFragment = document.getElementById("agregarFragment");
          if (agregarFragment.style.display === "none") {
              agregarFragment.style.display = "flex";
          } else {
              agregarFragment.style.display = "none";
          }
      });

      document.getElementById("categoria").addEventListener("change", function() {
        let categoriaSeleccionada = this.value.toLowerCase();
        console.log("Categoría seleccionada:", categoriaSeleccionada);
        let filas = document.querySelectorAll("tbody tr");

        filas.forEach(function(fila) {
            let categoriaFila = fila.querySelector("td:nth-child(5)").textContent.toLowerCase();;
            console.log("Categoría de la fila:", categoriaFila)
            if (categoriaSeleccionada === "" || categoriaSeleccionada === categoriaFila) {
                fila.style.display = "table-row";
            } else {
                fila.style.display = "none";
            }
        });
    });


  });
</script>
<div class="contenedor_padre">
    <div class="nav">
        <h1>PersonalMoney</h1>
        <div class="cuenta">
            <img src="icono" alt="">
            <div class="correo">
                <h3>Santiago Madrid</h3>
                <p>Santiagomadrid202...</p>
            </div>
            <img src="flecha" alt="">
        </div>        
    </div>

    <div class="nav_gastos">
        <div class="part1">
            <select name="categoria" id="categoria">
              <option value="">Todas las categorías</option>
              <option value="comida">🍔 Comida</option>
              <option value="transporte">🚗 Transporte</option>
              <option value="pasatiempo">🎭 Pasatiempo</option>
              <option value="casa">🏠 Casa</option>
            </select>
        </div>
        <div class="part2">
            <button id="toggleBtnGasto">Gasto</button>
        </div>
    </div>

    <div class="total">
      <h3>{{contador}} total</h3>
      <p>{{total}}</p>
  </div>
    <table>
        <thead>
          <tr>
            <th>Fecha</th>
            <th>Valor</th>
            <th>Nombre del Gasto</th>
            <th>Descripción</th>
            <th>Categoría</th>
            <th>Actualizar</th>
            <th>Eliminar</th>
          </tr>
        </thead>
        <tbody>
          {% for results in data %}
            <tr>
                    <td>{{ results.fecha}}</td>
                    <td>{{ results.valor}}</td>
                    <td>{{ results.nombre}}</td>
                    <td>{{ results.descripcion}}</td>
                    <td>{{ results.categoria}}</td>
                    

                  <td>
                    <form action="{% url 'actualizar_gasto' results.id %}" method="get">
                        <button type="submit" class="btn_api">Actualizar</button>
                    </form>
                </td>

                    <form action="{% url 'delete' %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" value={{results.id}} name = "id">
                      <td><input type="submit" class="btn_api" value="Eliminar" ></td>
                    </form>
            </tr>
          {% endfor %}
        </tbody>
      </table>
</div>
{% endblock  %}