{% extends "layouts/base.html" %}

{% block tittle %}Home{% endblock  %}

{% block content %}

{% include "fragments/agregar.html" %}

<script>
  document.addEventListener("DOMContentLoaded", function() {
    // Agregar evento clic al botón "cerrar"
      document.getElementById("toggleBtnGasto").addEventListener("click", function() {
          let agregarFragment = document.getElementById("agregarFragment");
          if (agregarFragment.style.display === "none") {
              agregarFragment.style.display = "flex";
          } else {
              agregarFragment.style.display = "none";
          }
      });

      document.getElementById("categoria").addEventListener("change", function() {
        // Se obtiene el valor seleccionado del elemento "categoria" y se convierte a minúsculas
        let categoriaSeleccionada = this.value.toLowerCase();

        // Se seleccionan todas las filas dentro de un elemento <tbody> en el documento HTML
        let filas = document.querySelectorAll("tbody tr");
        
        // Se itera sobre cada fila
        filas.forEach(function(fila) {
          // Se obtiene el contenido de texto del quinto <td> (celda) en la fila y se convierte a minúsculas, en este caso Categoria
          let categoriaFila = fila.querySelector("td:nth-child(5)").textContent.toLowerCase();;
          // Se compara la categoría seleccionada con la categoría de la fila actual
            if (categoriaSeleccionada === "" || categoriaSeleccionada === categoriaFila) {
                fila.style.display = "table-row"; //Si coinciden o no se ha seleccionado ninguna categoría, se muestra la fila
            } else {
                fila.style.display = "none"; // Si no coinciden, se oculta la fila
            }
        });
    });
  });

</script>

<div class="contenedor_padre">
    <div class="nav">
        <h1>PersonalMoney</h1>
        {% comment %} <div class="cuenta">
            <img src="icono" alt="">
            <div class="correo">
                <h3>Santiago Madrid</h3>
                <p>Santiagomadrid202...</p>
            </div>
        </div>         {% endcomment %}
    </div>

    <div class="nav_gastos">
        <div class="part1">
            <select name="categoria" id="categoria">
              <option value="">Todas las categorías</option>
              <option value="comida">🍔 Comida</option>
              <option value="transporte">🚗 Transporte</option>
              <option value="pasatiempo">🎭 Pasatiempo</option>
              <option value="casa">🏠 Casa</option>
            </select>
        </div>
        <div class="part2">
            <button id="toggleBtnGasto">Añadir gasto</button>
        </div>
    </div>

    <div class="total">
      <h3>Total registros: {{contador}}</h3>
      <p>Total: {{total}}</p>
  </div>
    <table>
        <thead>
          <tr>
            <th>Fecha</th>
            <th>Valor</th>
            <th>Nombre del Gasto</th>
            <th>Descripción</th>
            <th>Categoría</th>
            <th>Actualizar</th>
            <th>Eliminar</th>
          </tr>
        </thead>
        <tbody>
          {% for results in registros %}
            <tr>
                    <td>{{ results.fecha}}</td>
                    <td>{{ results.valor}}</td>
                    <td>{{ results.nombre}}</td>
                    <td>{{ results.descripcion}}</td>
                    <td>{{ results.categoria}}</td>

                  <td>
                    <form action="{% url 'actualizar_gasto' results.id %}" method="get">
                        <button type="submit" class="btn_api">Actualizar</button>
                    </form>
                  </td>

                <form action="{% url 'delete' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" value={{results.id}} name = "id">
                  <td><input type="submit" class="btn_api" id="eli" value="Eliminar" ></td>
                </form>
            </tr>
          {% endfor %}
        </tbody>
      </table>
</div>
{% endblock  %}